.usersinfo .btn i {
	margin-right: 0px;
}
.usersinfo .btn.btn-icon {
    border-radius: 50%;
    width: 30px;
    line-height: 30px;
    height: 30px;
    padding: 0px;
    text-align: center;
}
button.close {
	margin-top: 2px;
	margin-bottom: 0;
}